.top-product-list{
    padding: 30px 50px;

    &__title{
        margin: 0 auto;
        width: fit-content;
        & > a{
            text-decoration: none;
            color: black;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 25px;
            letter-spacing: 3px;
            transition: all .2s ease;
            &:hover{
                color: #dc4e3f;
            }
        }
    }
    &__category{
        margin: 0 auto;
        width: fit-content;
        & > a{
            text-decoration: none;
            color: black;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 15px;
            letter-spacing: 1px;
            transition: all .2s ease;
            &:hover{
                color: #dc4e3f;
            }
        }
    }
    & > button{
        display: block;
        margin: 0 auto;
        width: 300px;
        height: 45px;
        border: thin solid black;
        background: black;
        color: white;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1.5px;
        font-weight: 400;
        transition: all .3s ease;
        &:hover{
            background: white;
            color: black;
        }
    }
}